<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/static/favicon.ico" type="image/png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/bootstrap.min.css">

    <title>Online-library</title>
  </head>
  <body>
    <nav aria-label="Page navigation example" class="mt-4 mb-3">
      <div class="container">
        <ul class="pagination justify-content-star">
          {% if prev_link %}
            <li class="page-item">
              <a class="page-link" href="{{ prev_link }}">Предыдущая</a>
            </li>
          {% else %}
            <li class="page-item disabled"><span class="page-link">Предыдущая</span></li>
          {% endif %}

          {% for link in page_links %}
            <li class="page-item {% if loop.index == current_page %}active{% endif %}">
              <a class="page-link" href="{{ link }}">{{ loop.index }}</a>
            </li>
          {% endfor %}

          {% if next_link %}
            <li class="page-item">
              <a class="page-link" href="{{ next_link }}">Следующая</a>
            </li>
          {% else %}
            <li class="page-item disabled"><span class="page-link">Следующая</span></li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <div class="container">
      {% for row in columns %}
        <div class="row mb-3">
          {% for book in row %}
            <div class="col-md-6">
              <div class="card" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="/static/{{book.img_src}}" class="card-img" alt="Книга '{{book.title}}'">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{book.title}}</h5>
                      <p class="card-text">{{book.author}}</p>
                      <span class="badge badge-light" style="font-size:0.72rem; padding:.12rem .35rem; white-space:normal; word-break:break-word; overflow-wrap:anywhere;">{{book.genres}}</span>
                      <p><a href="/static/{{book.book_path}}">Читать</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </body>
</html>